CONFIG VCCAUX=3.3;

NET rst LOC = "Y16" | IOSTANDARD = LVTTL;
NET rst_cpu LOC = "V23" | IOSTANDARD = LVCMOS33;

NET clk LOC = "F13" | IOSTANDARD = LVCMOS33;
NET clk TNM_NET = clk;
TIMESPEC TS_clk = PERIOD clk 8000 ps; # 125MHz
NET clk_cpu LOC = "AA14" | IOSTANDARD = LVCMOS33;

NET A<0> LOC = "AA15" | IOSTANDARD = LVCMOS33;
NET A<1> LOC = "V24" | IOSTANDARD = LVCMOS33;
NET A<2> LOC = "AB26" | IOSTANDARD = LVCMOS33;
NET A<3> LOC = "AB24" | IOSTANDARD = LVCMOS33;
NET A<4> LOC = "V21" | IOSTANDARD = LVCMOS33;
NET A<5> LOC = "AA24" | IOSTANDARD = LVCMOS33;
NET A<6> LOC = "U19" | IOSTANDARD = LVCMOS33;
NET A<7> LOC = "Y22" | IOSTANDARD = LVCMOS33;
NET A<8> LOC = "V22" | IOSTANDARD = LVCMOS33;
NET A<9> LOC = "AC26" | IOSTANDARD = LVCMOS33;
NET A<10> LOC = "AB23" | IOSTANDARD = LVCMOS33;
NET A<11> LOC = "AA23" | IOSTANDARD = LVCMOS33;
NET A<12> LOC = "U20" | IOSTANDARD = LVCMOS33;
NET A<13> LOC = "AA25" | IOSTANDARD = LVCMOS33;
NET A<14> LOC = "U18" | IOSTANDARD = LVCMOS33;
NET A<15> LOC = "Y23" | IOSTANDARD = LVCMOS33;

NET D<0> LOC = "U21" | IOSTANDARD = LVCMOS33;
NET D<1> LOC = "Y24" | IOSTANDARD = LVCMOS33;
NET D<2> LOC = "T18" | IOSTANDARD = LVCMOS33;
NET D<3> LOC = "W23" | IOSTANDARD = LVCMOS33;
NET D<4> LOC = "T20" | IOSTANDARD = LVCMOS33;
NET D<5> LOC = "Y25" | IOSTANDARD = LVCMOS33;
NET D<6> LOC = "T17" | IOSTANDARD = LVCMOS33;
NET D<7> LOC = "V18" | IOSTANDARD = LVCMOS33;

NET LED<0> LOC="P18" | IOSTANDARD = LVTTL | SLEW = QUIETIO | DRIVE = 4;
NET LED<1> LOC="P25" | IOSTANDARD = LVTTL | SLEW = QUIETIO | DRIVE = 4;
NET LED<2> LOC="N19" | IOSTANDARD = LVTTL | SLEW = QUIETIO | DRIVE = 4;
NET LED<3> LOC="K22" | IOSTANDARD = LVTTL | SLEW = QUIETIO | DRIVE = 4;
NET LED<4> LOC="H20" | IOSTANDARD = LVTTL | SLEW = QUIETIO | DRIVE = 4;
NET LED<5> LOC="G21" | IOSTANDARD = LVTTL | SLEW = QUIETIO | DRIVE = 4;
NET LED<6> LOC="D24" | IOSTANDARD = LVTTL | SLEW = QUIETIO | DRIVE = 4;
NET LED<7> LOC="D25" | IOSTANDARD = LVTTL | SLEW = QUIETIO | DRIVE = 4;